
<div class="container-fluid">
<div class="row">
	<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#login">Login</a></li>
   <li><a data-toggle="tab" href="#controls">Controls</a></li>
    <li><a data-toggle="tab" href="#admin">Admin</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>

        <div class="col-md-12">
<div class="col-md-2">

	<form action="/house" method="GET" >
	<br></br>
    PriceMin: 
        <input type="number" name="pricemin"/>
    <br></br>
    PriceMax:
        <input type="number"name="pricemax" />
    <br></br>
        <select name="bedroom" >
        <option value="default">All Bedrooms</option>
                <option value="1">1 Bedroom</option>
                <option value="2">2 Bedrooms</option>
                <option value="3">3 Bedrooms</option>
                <option value="4">4 Bedrooms</option>
            </select>
 <br></br>
    
            
        <select name="bathroom" >
        <option value="default">All Bathrooms</option>
                <option value="1">1 Bathroom</option>
                <option value="2">2 Bathrooms</option>
                <option value="3">3 Bathrooms</option>
                <option value="4">4 Bathrooms</option>
            </select>
    <br></br>

            <select name="type">
                <option value="house">House</option>
                <option value="apartment">Apartment</option>
                <option value="basement">Basement</option>
            </select>
	<br></br>
    
		<input type="submit" value="Submit" />
		</form>
</div>

<div class="col-md-8 col-sm-12 ">
        
		{{# each items }}
            <article class="item">
			<div col="col-md-4 col-sm-12">
			
				<img style="height: 100%; width: 100%; object-fit: contain" src="{{this.url}}" onerror="this.onerror='';this.style.visibility='hidden';"/>
				
				
				<div>ID: {{ this._id }}</div>
                <div>Price: {{ this.price }}</div>
                <div>Bedroom: {{ this.bedroom }}</div>
                <div>Bathroom: {{ this.bathroom }}</div>
                <div>Description: {{ this.description }}</div>
				<div>Type: {{ this.type }}</div>
				 <div>Address: {{ this.address }}</div>
			</div>
				
            </article>
        {{/each}}
    </div>
	</div>
	</div>
    <div id="login" class="tab-pane fade">
	<h3>Login</h3>
        <form action="/login" method="GET">

        Username : <input type="text" name="username"/>
        Password : <input type="text" name="password"/>
		
        <input type="submit"/>
        </form>
	</div>
 <div id="controls" class="tab-pane fade">
 <form action="/post" method="POST">

 Price : <input type="number" name="pricePost"/>
 <br></br>
Bedroom:    <select name="bedroomPost" >
                <option value="default">All Bedrooms</option>
                <option value="1">1 Bedroom</option>
                <option value="2">2 Bedrooms</option>
                <option value="3">3 Bedrooms</option>
                <option value="4">4 Bedrooms</option>
            </select>
<br></br>
Bathroom: <select name="bathroomPost" >
                <option value="default">All Bathrooms</option>
                <option value="1">1 Bathroom</option>
                <option value="2">2 Bathrooms</option>
                <option value="3">3 Bathrooms</option>
                <option value="4">4 Bathrooms</option>
            </select>
<br></br>
Type:  <select name="typePost">
                <option value="house">House</option>
                <option value="apartment">Apartment</option>
                <option value="basement">Basement</option>
            </select>
<br></br>
Url: <input type="text" name="urlPost"/>
<br></br>
Address: <input type="text" name="addressPost"/>
<br></br>
Description<input type="text" name="descriptionPost"/>
<input type="submit"/>
        </form>

 </div>
 
 <div id="admin" class="tab-pane fade">
 <form action="/delete" method="POST">
 
 Id to be deleted: <input type="text" name="id"/>
        <input type="submit"value="Delete"/>
 </form>
 <br></br>
  <form action="/update" method="POST">
 <input type="submit" value="Update"/>
 Id to be updated: <input type="text" name="updateId"/>
 <br></br>
  Price : <input type="number" name="priceUpdate"/>
 <br></br>
Bedroom:    <select name="bedroomUpdate" >
                <option value="default">All Bedrooms</option>
                <option value="1">1 Bedroom</option>
                <option value="2">2 Bedrooms</option>
                <option value="3">3 Bedrooms</option>
                <option value="4">4 Bedrooms</option>
            </select>
<br></br>
Bathroom: <select name="bathroomUpdate" >
                <option value="default">All Bathrooms</option>
                <option value="1">1 Bathroom</option>
                <option value="2">2 Bathrooms</option>
                <option value="3">3 Bathrooms</option>
                <option value="4">4 Bathrooms</option>
            </select>
<br></br>
Type:  <select name="typeUpdate">
                <option value="house">House</option>
                <option value="apartment">Apartment</option>
                <option value="basement">Basement</option>
            </select>
<br></br>
Url: <input type="text" name="urlUpdate"/>
<br></br>
Address: <input type="text" name="addressUpdate"/>
<br></br>
Description<input type="text" name="descriptionUpdate"/>
 
 </form>
 
 </div>
</div>
</div>
</div>


